# Data Science Tools and Ecosystem

This is a simple notebook to summarize data science tools and ecosystems.

Some of the most popular languages used by Data Scientists are;
1. Python
2. R
3. SQL*
4. Java
5. Julia
6. Scala

*Not programming language.

Some of the commonly used libraries include:
- Numpy
- Pandas
- Matplotlib
- Seaborn
- Sci-kit learn
- Tensorflow
- Keras
- Plotly
- tidyr
- dplyr
- stringr
- ggplot2
- tidyverse*

*Collection of libraries

| Data Science Tools |
----------------------
| Anaconda |
| R Studio |
| Jupyter |
| MySQL |
| IBM Watson |
| Github |
| Gitlab |

### Below are a few examples evaluating arithmetic expression in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert minutes into hours by diving by 60
tmin = 200
thr = tmin / 60
print(thr)

3.3333333333333335

**Objectives:**
* Popular languages
* Popular libraries
* Data Science Tools
* Basic Coding
* Jupyter Practice
* Version Control

## Author
MikiasHWT